In [44]:
from riotwatcher import LolWatcher, ApiError
import pandas as pd
import time
import datetime

## Using Riot API key

In [2]:
#Complete with your own API key 
api_key = 'RGAPI-xxxx'
watcher = LolWatcher(api_key)
my_region = 'euw1'
#["na1", "euw1", "eun1", "kr", "br1", "jp1", "ru", "oc1", "tr1", "la1", "la2"]
my_summoner='MamaYumYum'

#### Profile information

In [3]:
#Load a profile  
my_profile = watcher.summoner.by_name(my_region,my_summoner)

In [4]:
print(my_profile)

{'id': 'tfQ1hZABPAxKvX6rkgpqWE7UszeqS8sq7lieyKopKUMu3Z0', 'accountId': 'RiVjJkjVb_T-e_hgpmXYL6oLTO6G8uGjre8oOQM7-sdaSQ', 'puuid': 'La6KBkKxEZGOS-jBVIqKsS8PzTvxz7BP_k_AIeK-EkbUrCgHgGy3UW1XGX4h6qN4S7mnIqwIzCKfYw', 'name': 'MamaYumYum', 'profileIconId': 5622, 'revisionDate': 1680644142223, 'summonerLevel': 524}

In [5]:
#Load ranked stats
my_ranked_stats = watcher.league.by_summoner(my_region,my_profile['id'])
print(my_ranked_stats)

[{'leagueId': '50a6cc74-60c4-4896-aa2a-54c73299f7c7', 'queueType': 'RANKED_SOLO_5x5', 'tier': 'PLATINUM', 'rank': 'IV', 'summonerId': 'tfQ1hZABPAxKvX6rkgpqWE7UszeqS8sq7lieyKopKUMu3Z0', 'summonerName': 'MamaYumYum', 'leaguePoints': 47, 'wins': 102, 'losses': 99, 'veteran': False, 'inactive': False, 'freshBlood': False, 'hotStreak': False}]

## Match information using JSON

In [6]:
#This function returns a list of the last played game with the game's ids
def get_matches_list(my_region,my_summoner,nbMatches):
    profile=watcher.summoner.by_name(my_region,my_summoner)
    matches_list=watcher.match.matchlist_by_puuid(my_region,profile['puuid'],count=nbMatches)
   
    return matches_list
    
#The function matchlist_by_puuid has a limit of 200 games

In [7]:
nbMatches=20
matches_list=get_matches_list(my_region,my_summoner,nbMatches)

In [89]:
matches_list

['EUW1_6346829954',
 'EUW1_6346406135',
 'EUW1_6346377480',
 'EUW1_6345492861',
 'EUW1_6344920335',
 'EUW1_6344828393',
 'EUW1_6344780310',
 'EUW1_6340799573',
 'EUW1_6340749762',
 'EUW1_6335975261',
 'EUW1_6335029842',
 'EUW1_6334965764',
 'EUW1_6333590234',
 'EUW1_6333492894',
 'EUW1_6328709921',
 'EUW1_6328662160',
 'EUW1_6328212297',
 'EUW1_6323942872',
 'EUW1_6322470530',
 'EUW1_6322308414']

In [9]:
#The match.by_id function returns a JSON containing all the information about a game
def get_match(my_region,match_id):
    match=watcher.match.by_id(my_region,match_id)
    return match

In [10]:
#We work with the first match of the list
match=get_match(my_region,matches_list[0])
match['metadata']['matchId']

'EUW1_6346829954'

#### Getting list of summoners's puuid in the match using metadata item

In [12]:
#List of all the game's participants with puuids
match['metadata']['participants']

['La6KBkKxEZGOS-jBVIqKsS8PzTvxz7BP_k_AIeK-EkbUrCgHgGy3UW1XGX4h6qN4S7mnIqwIzCKfYw',
 'XHO77Tu6kS8doG9PTTKpwE2qabXAl9U7zVz5WeOQ-vSDboIb1TueOw2FbbhKOMhnZIdxphfqm5vZaA',
 'Bk8A3yDI4mUKGgXvAUz8gnFXTbFHjezYlSap4E6i_eYCI96b0h5XmZdaM6L-8s3l76MizQ60SZIy4A',
 'zTYbdJMJsIhJcOZ-7zm2zhGbaNvXhs9cNpN94B34i8o6xJOaeFiW4mCFWghCqBXWVGh1gfRGPRbJQA',
 'X5RsLcN-33GkO4GyMaAUMXu1xz5TZCv-XoO4KAnMlt5anhBl3pdPF2SDulKg_0ZdjvnKDnXe2CfeqA',
 'EpT4wWWOF1vhn_mfpa9prf_Hv7GUbKRBPvu0KyhgxwM-6MDi4m3CX0mfNKb7NbeqtolPEXGFgq0XOA',
 'Ml0258N-iQC_-Hjz3nsrTBYSfuDzGuBgYxf6cd37ezqQpwuhcnfU4e57fnZ1i12K_j1c6yPE9owlnw',
 '8Kc00AFQ8-DSrNQCrkVui2gYGfJEbVYWPt1LI6gMl1JfYmIuRefN3jn4UxQ6Mmzx6gjR3JFhdqVgFg',
 '0cDp43ui2J4SsP51C-8dOUMTjsXNQ_DeW1yyWw9v6bqgPAJU_5Wg7TgPA9PBnnH70yYKXcemObnUng',
 'z54HaauybF0p4ZOeETOY_DQEien2GjKL31k491Ph3z4YccWIYF6-oLURzMfhUxEdSRRk-xKopsu3jg']

In [75]:
#get your index in a game, will be usefull later
puuid=my_profile['puuid']
participants = match['metadata']['participants']
# Now, find where in the data our players puuid is found
player_index = participants.index(puuid)
player_index

0

In [13]:
summoner=watcher.summoner.by_puuid(my_region,match['metadata']['participants'][2])
summoner

{'id': '2yWfVNJBjfnX7cP44HMRIbk-y4ERMgyZR8OaH4bitgs5BhM',
 'accountId': 'JhYLPxAvbDjC22cJMKdlGWI1rOHBtuzfKjAAyGvL1dBzLg',
 'puuid': 'Bk8A3yDI4mUKGgXvAUz8gnFXTbFHjezYlSap4E6i_eYCI96b0h5XmZdaM6L-8s3l76MizQ60SZIy4A',
 'name': 'H4riis',
 'profileIconId': 1296,
 'revisionDate': 1680644142223,
 'summonerLevel': 165}

#### Using info

In [14]:
match['info']['participants'][0]['summonerName']

'MamaYumYum'

In [15]:
summoner_name=watcher.summoner.by_puuid(my_region,match['info']['participants'][0]['puuid'])
summoner_name

{'id': 'tfQ1hZABPAxKvX6rkgpqWE7UszeqS8sq7lieyKopKUMu3Z0',
 'accountId': 'RiVjJkjVb_T-e_hgpmXYL6oLTO6G8uGjre8oOQM7-sdaSQ',
 'puuid': 'La6KBkKxEZGOS-jBVIqKsS8PzTvxz7BP_k_AIeK-EkbUrCgHgGy3UW1XGX4h6qN4S7mnIqwIzCKfYw',
 'name': 'MamaYumYum',
 'profileIconId': 5622,
 'revisionDate': 1680644142223,
 'summonerLevel': 524}

#### List of game's participants

In [16]:
def get_list_participants(my_region,match_id):
    match=get_match(my_region,match_id)
    list_participants=[]
    for element in match['metadata']['participants']:
        profile=watcher.summoner.by_puuid(my_region,element)
        list_participants.append(profile['name'])
    return list_participants

In [17]:
list_participants=get_list_participants(my_region,matches_list[0])
list_participants

['MamaYumYum',
 'DreamAboutMe',
 'H4riis',
 'Mythic V2',
 'lce Wallow Come',
 'Solarys IV',
 'MMT Darkyyy',
 'ScottTheUnit',
 'Baldulf',
 'Guv']

#### Conversion unix timestamp

In [68]:
# This function will convert unix time into a date, it can be used for further works
# for ex: Game per day,games played during a certain period etc...
def get_date(unix_time):
    date_time = datetime.datetime.fromtimestamp(unix_time/1000)
    date=date_time.strftime('%Y-%m-%d %H:%M:%S')
    return date

In [69]:

unix_time = match['info']['gameCreation']
get_date(unix_time)

'2023-04-04 23:12:51'

## Game Details

In [83]:
# This function gives information about the last game using matches_list
#queueId is an integer that gives us the game mode
#400 : Draft game  
#420 : Ranked game  
#440 : Ranked flex  
#450 : ARAM

def game_results_resume(matches_list):
    game_results_df=[]
    for match in matches_list:
        match_json=get_match(my_region,match)
        
        #We get the player_index to get to match_json['info']['participants'][player_index]['win']
        #We can't use match_json['info']['teams']['win'] as we are not appearing at the same index in each game depending
        # on blue side and red side.
        participants = match_json['metadata']['participants']
        player_index = participants.index(puuid)
        
        info_row={}
        info_row['gameId']=match_json['metadata']['matchId']
        info_row['Type']=match_json['info']['gameMode']
        info_row['queueId']=match_json['info']['queueId']
        info_row['Win']=match_json['info']['participants'][player_index]['win']
        info_row['Game Duration']=match_json['info']['gameDuration']/60
        info_row['Date']=get_date(match_json['info']['gameCreation'])
        game_results_df.append(info_row)
    df=pd.DataFrame(game_results_df)
    return df

In [85]:
game_results=game_results_resume(matches_list)
game_results

,gameId,Type,queueId,Win,Game Duration,Date
0,EUW1_6346829954,ARAM,450,False,22.266667,2023-04-04 23:12:51
1,EUW1_6346406135,ARAM,450,True,18.950000,2023-04-04 19:30:31
2,EUW1_6346377480,CLASSIC,400,False,15.100000,2023-04-04 19:11:14
3,EUW1_6345492861,ARAM,450,False,20.300000,2023-04-03 23:50:23
4,EUW1_6344920335,ARAM,450,True,19.766667,2023-04-03 18:55:48
5,EUW1_6344828393,CLASSIC,420,True,26.083333,2023-04-03 18:02:53
6,EUW1_6344780310,CLASSIC,420,False,24.866667,2023-04-03 17:29:46
7,EUW1_6340799573,ARAM,450,True,18.583333,2023-04-01 00:01:06
8,EUW1_6340749762,ARAM,450,True,20.500000,2023-03-31 23:36:14
9,EUW1_6335975261,CLASSIC,400,True,33.900000,2023-03-28 19:26:01
10,EUW1_6335029842,ARAM,450,True,17.133333,2023-03-27 23:17:12
11,EUW1_6334965764,ARAM,450,False,26.316667,2023-03-27 22:43:54
12,EUW1_6333590234,ARAM,450,True,19.933333,2023-03-26 23:20:20
13,EUW1_6333492894,CLASSIC,440,False,39.183333,2023-03-26 22:30:16
14,EUW1_6328709921,ARAM,450,True,24.133333,2023-03-23 22:38:23
15,EUW1_6328662160,ARAM,450,False,17.233333,2023-03-23 22:17:35
16,EUW1_6328212297,ARAM,450,True,22.083333,2023-03-23 19:23:06
17,EUW1_6323942872,CLASSIC,400,False,46.483333,2023-03-20 20:01:44
18,EUW1_6322470530,ARAM,450,True,25.766667,2023-03-19 18:29:51
19,EUW1_6322308414,CLASSIC,400,True,40.000000,2023-03-19 17:05:49

In [86]:
#We build a function that gives a game's summary similar to the ones we can get on opgg or leagueofgraph.
def game_summary(my_region,match_id):
    game_summary_df=[]
    match=get_match(my_region,match_id)
    game_info=match['info']
    
    for row in game_info['participants']:
        participants_row={}
        participants_row['summonerName']=row['summonerName']
        #There is no role or lane in ARAM mode
        if row['individualPosition']=="Invalid":
            participants_row['lane']='ARAM'
        else:  
            participants_row['lane']=row['individualPosition']
        participants_row['champion']=row['championName']
        participants_row['kills']=row['kills']
        participants_row['assists']=row['assists']
        participants_row['deaths']=row['deaths']
        participants_row['kda']=round((row['kills']+row['assists'])/row['deaths']
                                       ,2)
        participants_row['total damages']=row['totalDamageDealtToChampions']
        participants_row['win']=row['win']
        game_summary_df.append(participants_row)
    df=pd.DataFrame(game_summary_df)
    return df

In [91]:
matches_list[5]

'EUW1_6344828393'

In [95]:
# I used a game that wasn't an aram
game_summary=game_summary(my_region,matches_list[5])
game_summary
#We can see that Twitch carried hard

,summonerName,lane,champion,kills,assists,deaths,kda,total damages,win
0,Atomare,TOP,Malphite,2,6,2,4.00,15220,True
1,Jaegha,JUNGLE,Amumu,3,7,3,3.33,11208,True
2,MamaYumYum,MIDDLE,Zed,7,5,4,3.00,13462,True
3,BMO0333,BOTTOM,Twitch,21,6,3,9.00,33212,True
4,ShadowPlays66,UTILITY,Seraphine,4,21,4,6.25,16002,True
5,Gyref,TOP,Chogath,3,2,4,1.25,13835,False
6,Corndawgfan,JUNGLE,MonkeyKing,1,5,8,0.75,9932,False
7,Μars,MIDDLE,Annie,6,5,6,1.83,15296,False
8,reeBro,BOTTOM,Zeri,2,3,7,0.71,4837,False
9,srikig,UTILITY,Senna,4,8,12,1.00,7311,False

## Champions details

In [96]:
#This function returns a list of the last champions played in the last nbMatches matches
def last_champ_played(my_region, my_summoner,nbMatches):
    last_champ_played=[]
    match_list=get_matches_list(my_region,my_summoner,nbMatches)
    for match in match_list:
        match_played=watcher.match.by_id(my_region,match)
        for participants in match_played['info']['participants']:
            if participants['summonerName']==my_summoner:
                last_champ_played.append(participants['championName'])
                break
    return last_champ_played

In [97]:
last_champ_played=last_champ_played(my_region,my_summoner,nbMatches)
last_champ_played

['Singed',
 'Kassadin',
 'Cassiopeia',
 'Vi',
 'AurelionSol',
 'Zed',
 'Yone',
 'Chogath',
 'Zed',
 'Gragas',
 'Neeko',
 'Sylas',
 'Yasuo',
 'Jayce',
 'Shyvana',
 'Fiora',
 'Taric',
 'Gragas',
 'Twitch',
 'Irelia']

In [98]:
#We can do the same function using matches_list only

def list_champ_played(matches_list):
    champ_list=[]
    for match in matches_list:
        match_played=watcher.match.by_id(my_region,match)
        for participants in match_played['info']['participants']:
            if participants['summonerName']==my_summoner:
                champ_list.append(participants['championName'])
                break
    return champ_list

In [99]:
champ_played=list_champ_played(matches_list)
champ_played

['Singed',
 'Kassadin',
 'Cassiopeia',
 'Vi',
 'AurelionSol',
 'Zed',
 'Yone',
 'Chogath',
 'Zed',
 'Gragas',
 'Neeko',
 'Sylas',
 'Yasuo',
 'Jayce',
 'Shyvana',
 'Fiora',
 'Taric',
 'Gragas',
 'Twitch',
 'Irelia']

In [101]:
def all_champ_played(matches_list):
    champ_list=[]
    for match in matches_list:
        match_played=watcher.match.by_id(my_region,match)
        for participants in match_played['info']['participants']:
            champ_list.append(participants['championName'])
    return champ_list

In [102]:
all_champ=all_champ_played(matches_list)

In [103]:
#Using Counter to show champs played
#Counter creates a dict
from collections import Counter
z=Counter(all_champ).most_common(15)
z

[('Zed', 6),
 ('Jinx', 5),
 ('Annie', 4),
 ('Milio', 4),
 ('Senna', 4),
 ('Xayah', 4),
 ('Jhin', 3),
 ('Graves', 3),
 ('Zeri', 3),
 ('Thresh', 3),
 ('Malzahar', 3),
 ('Vi', 3),
 ('Kaisa', 3),
 ('AurelionSol', 3),
 ('Ashe', 3)]

In [104]:
#Using pd.Series to show champs played
series=pd.Series(all_champ).value_counts()
series

Zed        6
Jinx       5
Xayah      4
Senna      4
Annie      4
          ..
Azir       1
Kalista    1
Neeko      1
Vayne      1
Ekko       1
Length: 106, dtype: int64

## Filtering the games

In [106]:
#We only want ranked or ranked flex games. We get rid of the other games with the attribute 'queueId'.  

def ranked_list(matches_list):   
    ranked_list=[]
    for games in matches_list:
        match_played=watcher.match.by_id(my_region,games)
        if match_played['info']['queueId']== 420 or match_played['info']['queueId']== 440  :
            ranked_list.append(match_played['metadata']['matchId'])
    return ranked_list

In [107]:
#Only played 3 rankeds in my last 20 games
ranked_list=ranked_list(matches_list)
ranked_list

['EUW1_6344828393', 'EUW1_6344780310', 'EUW1_6333492894']

In [108]:
#Let's see what champs were played on ranked games
champ_ranked=list_champ_played(ranked_list)
champ_ranked

['Zed', 'Yone', 'Jayce']